.contenedor {
    text-align: center;
}

.tarjeta {
    display: inline-block;
    /*inline: pone todo en linea/\block: pone todo en columna/\ inline-block: hace que los elementos puedan ser colocados en linea y les añade las propiedades de los elementos block*/
    width: 150px;
    height: 100px;
    background-color: lightseagreen;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

/*----------------------------------------sitio INDEX---------------------------------------*/
/*----------------------------------------sitio INDEX---------------------------------------*/
/*----------------------------------------sitio INDEX---------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.menu {
    margin-top: 10px;
}

.boton {
    display: inline-block;
    background-color: rgb(85, 84, 84);
    color: white;
    text-decoration: none;
    padding: 1px 20px;
    margin: 5px;
    border-radius: 5px;
}

.boton:hover {
    background-color: rgb(169, 169, 169);
}

.contenedor_principal {
    padding: 25px 50px;
}

.resaltado {
    display: inline;
    background-color: rgb(163, 96, 226);
    font-weight: bold;
}

.contenedor_tarjetas {
    text-align: center;
    padding: 20px;
}

.box {
    display: inline-block;
    width: 150px;
    height: 100px;
    background-color: steelblue;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.bloque {
    display: block;
    /*alinea en bloque hacia abajo*/
    background-color: rgb(255, 58, 24);
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
}

.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}