* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #3F3F3F;
    color: white;
    display: flex;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    justify-content: center;
}

.seccion {
    padding: 70px 50px;
}

.tarjeta {
    display: flex;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(134, 134, 134);
    border-radius: 20px;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.tarjeta p {
    font-weight: bold;
}

.tarjeta img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.perfil {
    background-color: #2B9DC0;
    color: white;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
    transition: background-color 0.5s ease, transform 0.7s ease
}

.perfil:hover {
    transform: scale(1.09);
    background-color: rgb(4, 63, 166);
}

.publicaciones {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

.publicaciones h1 {
    font-size: 20px;
}

.publicacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    border: 2px solid rgb(134, 134, 134);
    border-radius: 15px;
    padding: 20px;
    flex-wrap: wrap;
}

.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
}

.contenido h1 {
    font-size: 17px;
}

.boton {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
}

.botonLike {
    background-color: #FFD26B;
    padding: 7px 20px;
    height: fit-content;
    border-radius: 5px;
    border: none;
    transition: background-color 0.4s ease, transform 0.5s ease
}

.botonLike:hover {
    transform: scale(1.05);
    background-color: #d6803a;
}

.header h1{
    transition: 0.4s ease, transform 0.5s ease; 
}

.header h1:hover {
    transform: scale(1.1);
}