h1 {
    color: rebeccapurple;/*color del texto\fuente*/
    font-size: 50px;/*Tamaño de fuente (px=pixeles)*/
}

p {
    color: blue;
    font-size: 18px;/*que no se te olvide el "px" al final del numero*/
}