* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*outline: solid 1px bluepurple;*/
}

body {
    padding: 50px 5%;
}

.Bad {
    width: 100%;
}

.BillieJean {
    background-color: #1F8513;
    color: white;
    text-align: center;
    margin: 10px 90px;
    padding: 20px;
}

.BillieJean h1 {
    font-size: 30px;
}

.OffTheWall {
    background-color: #2D5FDD;
    text-align: center;
    height: 600px;
    padding:40px 0;
    width: 23%;
}

.Thriller {
    vertical-align: top;
    width: 70%;
    height: 4%;
}

.Vanity {
    background-color: #E41F13;
}

.Abc {
    border-radius: 25px;
    border: none;
    padding: 14px 13px;
    background-color: #FEEE32;
    margin-bottom: 13px;
    display: inline-block;
    width: 70%;
}

.Abc:hover {
    background-color: #918c03;
}

.BeatIt {
    padding: 70px;
    display: inline-block;
    background-color: #FEF405;
    margin: 10px 5px;
    height: 200px;
    width: 29%;
}

.AdachiRei {
    background-color: #8F2587;
}

.SpokenFor {
    background-color: #EFE9ED;
    color: #8F2587;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
}

.SpokenFor:hover {
    background-color: #a5a2a4;
    color: #4f0d4a;
}